*{
    padding : 0px;
    margin : 0px;
}

#aaa{
    height : 100px;
    width : 100px;
    background-color : green;
    border-radius: 50%;
    border : 5px dashed magenta;
}


#navbar{
    height : 60px;
    background-color: #0f1111;

}

a{
    color: white;
    margin-right: 200px;
    text-decoration: none;
}

button{
    background-color: #f08804;
}

#logo{
    color : #f08804;
    font-size : 25px;
}